<form [formGroup]="form" (submit)="createFunction()">
  <mat-form-field>
    <input matInput placeholder="Name" formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Description" formControlName="description"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Type" formControlName="type">
      <mat-option value="linear">
        Linear
      </mat-option>
    </mat-select>
  </mat-form-field>


  <rf-fx-linear-form [form]="form"></rf-fx-linear-form>

  <div class="tools">
    <mat-icon *ngIf="form.pristine">star_border</mat-icon>
    <mat-icon *ngIf="form.dirty">star_half</mat-icon>

    <mat-icon *ngIf="form.valid" color="primary">check</mat-icon>
    <mat-icon *ngIf="form.pending" color="accent">timelapse</mat-icon>
    <mat-icon *ngIf="form.invalid" color="warn">error</mat-icon>

    <button type="button" mat-raised-button (click)="example()">Example</button>
    <button type="button" mat-raised-button color="accent" (click)="debug()">Debug!</button>
    <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">OK</button>
  </div>

  <div class="result" *ngIf="func">
    <ng-container *ngFor="let x of [1,2,3,4,5,6,7,8,9,10,50,100]">
      {{func.name}}({{x}}) = {{func.compute(x)}}<br>
    </ng-container>
  </div>
</form>


