form {
  display:flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.tools {
  display:flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;

  button {
    margin:0.2rem 0.5rem;
  }
}

.result {
  font-family: monospace;
}
